<app-navbar></app-navbar>


<div class="container" id="container">
    <form class="form-group card card-body my-5">
        <div class="alert alert-warning my-3 text-center" *ngIf="message?.length > 0">{{message}}</div>
        <div class="alert alert-danger my-3 text-center" *ngIf="error?.length > 0">{{error}}</div>
        <input type="email" name="email" class="form-control my-2" placeholder="Enter email" #email>
        <button class="btn btn-warning my-2" (click)="forgetPassword(email.value)">Submit</button>
    </form>
</div>