<app-navbar></app-navbar>

<div class="container">
    <form #myForm="ngForm" class="form-group my-5 card card-body">
        <div class="alert alert-danger text-center my-2" *ngIf="error?.length > 0">{{error}}</div>
        <input type="password" class="form-control my-2" placeholder="Enter password" required #password>
        <input type="password" class="form-control my-2" placeholder="confim password" required #comfirm>
        <button class="btn btn-warning btn-block my-2" (click)="changeForgetPassword(password.value, comfirm.value)">Submit</button>
    </form>
</div>