<app-navbar></app-navbar>
<section id="showcase1" class="d-flex justify-content-center align-items-center">
    <div id="overlay"></div>
    <div id="header" class="container text-white text-center">
        <h1 class="display-2">MEAN STACK</h1>
        <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium placeat culpa maxime
            obcaecati sapiente eius recusandae magnam harum quidem molestiae vel dolore optio dignissimos, est
            voluptas
            quisquam pariatur alias. Quae.</p>
    </div>

</section>
<div id="showcase2" class="d-flex align-items-center mt-3">
    <div class="container">
        <h1 class="display-4 text-center">Social Media <u>MANGO</u> App</h1>
        <p class="lead text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, corporis perspiciatis?
            Quos quaerat dolor, cum aut natus aperiam quo nobis voluptates et. Aperiam assumenda ipsum odit recusandae
            aliquam corrupti quis dolorem quod tempora perferendis ratione, iste labore consectetur, obcaecati corporis
            odio deleniti laudantium officia blanditiis magnam temporibus soluta quaerat eveniet!</p>

    </div>
</div>


<div id="imageSlides" class="container">
    <div class="row">


        <div class="col-md-4 col-sm 12 mt-5 mb-2">
            <video class="d-block w-100 rounded" autoplay [muted]="'muted'" loop>
                <source
                    src="https://player.vimeo.com/external/301650714.sd.mp4?s=ef2d17d8731cd494e04bfe3a24b90de097c77933&profile_id=164&oauth2_token_id=57447761">
            </video>
        </div>

        <div class="col-md-4 col-sm 12 mt-5 mb-2">
            <video class="d-block w-100 rounded" autoplay [muted]="'muted'" loop>
                <source
                    src="https://player.vimeo.com/external/189534322.sd.mp4?s=4b05f5ba2d98bd9579d9b30a3b86758454f47a0e&profile_id=164&oauth2_token_id=57447761">
            </video>
        </div>


        <div class="col-md-4 col-sm 12 mt-5 mb-2">
            <video class="d-block w-100 rounded" autoplay [muted]="'muted'" loop>
                <source
                    src="https://player.vimeo.com/external/210743996.sd.mp4?s=1a2e9e609bfd5f250ea361a6845c5c7d184be2c6&profile_id=164&oauth2_token_id=57447761">
            </video>
        </div>


    </div>
</div>

<app-footer></app-footer>